<%- include("partials/header", {webTitle: 'Management Schedule'})%>

<h3>Welcome <strong><%= firstname %>  </strong> Here's you can Management your Schedules</h3>

<% if (!empty) { %>
    <table>
        <thead>
          <tr>
            <th>Day</th>
            <th>start at</th>
            <th>end at</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% if (schedules.length > 0) { %> 
              <% schedules.forEach(element => { %>
                  <tr>
                      <% const dayNumber = element.day %> 
                      <% const weekDays = {1: 'Monday',2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'} %>
                      <% const showDay = weekDays[dayNumber] %>
                      <td><%= showDay %></td>
                      <td><%= element.start_time %></td>
                      <td><%= element.end_time %></td>
                      <td> <a href="/schedules/<%=element.id%>">Delete</a> </td>
                      <td><%=element.id  %>    </td>

                  </tr>
              <% }) %> 
          <% } %>
        </tbody>
      </table>
<% } else{%>
    <div>
        <h1> Without schedules, please register your schedules </h1>
    </div>
<% } %> 

